* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* Image Text CSS Start */

.text_image_inner { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(50, 50, 50, 1);
}
.text_image_left .items {
    /* column-count: 2; */
    row-gap: 40px;
    column-gap: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 42px;
}
.text_image_right {
    max-width: 730px;
    width: 100%;
}
.text_image_right img{
    width: 100%;
}
.text_image_left {
    max-width: 1190px;
    width: 100%;
    padding: 0 146px 0 227px;
}
.text_image_left .items li.item {
    display: flex;
    align-items: center;
    column-gap: 24px;
    padding: 0;
    width: calc(50% - 100px * 1 / 2);
    max-width: calc(50% - 100px * 1 / 2);
}
.text_image_left .top_heading{
    font-size: 32px;
    line-height: 37px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #E3B576;
    letter-spacing: 0.015em;
}
.text_image_left .main_heading{
    font-size: 50px;
    line-height: 75px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    letter-spacing: 0.015em;
    margin-top: 21px;
}
.text_image_left .description{
    max-width: 720px;
    margin-top: 3px;
}
.text_image_left .description, .text_image_left .items li.item .item_detail p{
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #AEAEAE;
    letter-spacing: 0.015em;
}
.text_image_left .items li.item .item_heading h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.015em;
}
@media only screen and (max-width: 1860px){
    .text_image_left{
        padding: 0 47px;
    }
    .text_image_left .items{
        column-gap: 80px;
    }
    .text_image_left .items li.item{
        width: calc(50% - 80px * 1 / 2);
        max-width: calc(50% - 80px * 1 / 2);
    }
}
@media only screen and (max-width: 1599px){
    .text_image_left .items li.item{
        column-gap: 15px;
    }
    .text_image_left .items li.item .item_detail p{
        font-size: 15px;
        line-height: 23px;
    }
    .text_image_left .items{
        column-gap: 60px;
    }
    .text_image_left .items li.item{
        width: calc(50% - 60px * 1 / 2);
        max-width: calc(50% - 60px * 1 / 2);
    }
}
@media only screen and (max-width: 1439px){
    .text_image_left .items li.item .item_heading h4 {
        font-size: 18px;
        line-height: 26px;
    }
    .text_image_left .items li.item .icon svg{
        max-width: 35px;
    }
}
@media only screen and (max-width: 1366px){
    .text_image_right{
        max-width: 500px;
    }
    .text_image_left .description{
        font-size: 16px;
    }
    .text_image_left .main_heading{
        font-size: 35px;
        line-height: 45px;
        margin-top: 10px;
    }
    .text_image_left .top_heading {
        font-size: 25px;
        line-height: 33px;
    }
    .text_image_left .items{
        padding-top: 25px;
        row-gap: 20px;
    }
    .text_image_left .items{
        column-gap: 40px;
    }
    .text_image_left .items li.item{
        width: calc(50% - 40px * 1 / 2);
        max-width: calc(50% - 40px * 1 / 2);
    }
}
@media only screen and (max-width: 1199px){
    .text_image_inner{
        flex-direction: column-reverse;
        row-gap: 40px;
        padding: 50px 0;
    }
    .text_image_left {
        padding: 0 15px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .text_image_left .top_heading, .text_image_left .main_heading{
        text-align: left;
    }
    .text_image_right{
        padding: 0 15px;
    }
    .text_image_left .items {
        margin: 0;
    }   
}
@media only screen and (max-width: 767px){
    .text_image_left .items{
        column-gap: 30px;
    }
    .text_image_left .items li.item{
        width: calc(50% - 30px * 1 / 2);
        max-width: calc(50% - 30px * 1 / 2);
    }
}
@media only screen and (max-width: 499px){
    .text_image_left .items li.item{
        width: 100%;
        max-width: 100%;
    }
    }.text_image_left .main_heading {
        font-size: 25px;
        line-height: 35px;
        margin-top: 10px;
    }
    .text_image_left .top_heading {
        font-size: 18px;
        line-height: 26px;
    }
    .text_image_right {
    max-width: 100%;
}


/* Image Text CSS End*/
